
<p id="notice"><%= notice %></p>
<div class="card pl-3 pt-2 pb-2">
  <p>
    <strong>Nombre:</strong>
    <%= @student.name %>
  </p>
</div>

<div class="card pl-3 pt-2 pb-2">
  <p>
    <strong>Edad:</strong>
    <%= @student.age %>
  </p>
</div>

<%= link_to 'Editar', edit_student_path(@student), class: 'btn btn-success' %>

<%= link_to 'Salir', students_path, class: 'btn btn-success' %>
